{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Cocinas{% endblock %}

{% block body %}
<h1>Cocinas</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.descripcion }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('cocina_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('cocina_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('cocina_new') }}">
          Agregar Cocina
        </a>
    </li>
</ul>
{% endblock %}
