{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Crear una Cocina{% endblock %}

{% block body %}
<h1>Creación de Cocina</h1>

<form action="{{ path('cocina_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('cocina') }}">
            volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
