{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Cocina creation</h1>

<form action="{{ path('cocina_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('cocina') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
